@page
@model OOP_QuanLyCuaHang.Pages.MH_DanhSachHangHoaModel

<form method="POST">

    <label for="fname">Từ khóa:</label><br>
    <input type="text" name="tukhoa" value=" "><br>
    <input type="submit" value="Tìm hàng hóa">
    <a class="btn btn-primary" href="/MH_ThemSanPham">Thêm hàng hóa</a>
</form>
<table>
    <tr>
        <th> Mã hàng </th>
        <th> Tên hàng </th>
        <th> Loại hàng</th>
        <th> Hạn dùng</th>
        <th> Công ty sản xuất</th>
        <th> Năm sản xuất</th>
        <th> Giá bán </th>
     </tr>
</table>