@page
@model OOP_QuanLyCuaHang.Pages.MH_ThemHangHoaModel

<form method="POST">

    <label for="fname">Mã hàng:</label><br>
    <input type="text" name="MaHang" value=""><br>
    <label for="fname">Tên hàng:</label><br>
    <input type="text" name="TenHang" value=""><br>
    <label for="fname">Loại hàng:</label><br>
    <input type="text" name="LoaiHang" value=""><br>
    <label for="fname">Hạn dùng:</label><br>
    <input type="text" name="HanDung" value=""><br>
    <label for="fname">Công ty:</label><br>
    <input type="text" name="CongTy" value=""><br>
    <label for="fname">Năm sản xuất:</label><br>
    <input type="text" name="NamSanXuat" value=""><br>
    <label for="fname">Giá bán:</label><br>
    <input type="text" name="GiaBan" value=""><br>

    <input type="submit" value="Luu">
</form>

@Model.Chuoi