@page
@model OOP_QuanLyCuaHang.Pages.MH_XoaLoaiHangModel

@if (Model.CoLoaiHang)
{
<form method="POST">
    <div>Bạn chắc chắn muốn xóa loại hàng này @Model.HangHoa.LoaiHang</div>
    <input type="submit" value="Xoá loại hàng">
</form>
}    

@Model.Chuoi