@page
@model OOP_QuanLyCuaHang.Pages.MH_XoaHangHoaModel

@if (Model.CoHangHoa)
{
<form method="POST">
    <div>Bạn chắc chắn muốn xóa sản phẩm @Model.HangHoa.TenHang</div>
    <input type="submit" value="Xoa">
</form>
}    

@Model.Chuoi